<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <title>{{ f_name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.42.1/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    {% import "macros.html" as macros %}
</head>
<body>
<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"/>
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href={{ url_for("index") }}>Активные работы</a></li>
                <li><a href={{ url_for("issues") }}>Выпуски</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar-center">
        <a href={{ url_for("issues") }} class="btn btn-ghost normal-case text-xl">{{ f_name }}</a>
    </div>
    <div class="navbar-end">
        <a href={{ url_for('logout') }} class="btn btn-outline btn-xs">Выйти</a>
    </div>
</div>
<div class="dropdown dropdown-bottom">
    <label tabindex="0" class="btn btn-outline btn-xs ml-6">Добавить статью</label>
    <div tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box ml-6 w-full">
        <form action="{{ url_for('edit_issue') }}" method="post">
            <input type="text" placeholder="Название" class="input input-bordered w-full max-w-xs mb-2"
                   name="edit_issue" required/>
            {{ macros.render_genres(genres, len) }}
            {{ macros.render_works(works, len) }}
            <button type="submit" class="btn btn-outline btn-xs">Добавить</button>
        </form>
    </div>
</div>
<div class="overflow-x-auto mt-2">
    {{ macros.render_edit_issue(table, ['issue_article_work_id'], len) }}
</div>
</body>
</html>