{% macro render_issues(combo_box, issue_id, len) %}
    <select name="issue" class="select select-bordered w-full max-w-xs" required>
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            {% set id_r = combo_box.loc[i, "issue_id"] %}
            {% if id_r == issue_id %}
                <option selected value={{ id_r }}>
                    {% else %}
                <option value={{ id_r }}>
            {% endif %}
        {{ combo_box.loc[i, "issue_name"] }}
        </option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_secret(combo_box, issue_id, len) %}
    {% set n = len(combo_box) %}
    {% for i in range(n) %}
        {% set id_r = combo_box.loc[i, "issue_id"] %}
        {% if id_r == issue_id %}
            <input hidden type="text" name="editable" value="{{ combo_box.loc[i, "issue_name"] }}">
            <input hidden type="text" name="editable_id" value="{{ combo_box.loc[i, "issue_id"] }}">
        {% endif %}
        </option>
    {% endfor %}
{% endmacro %}

{% macro render_genres(combo_box, len) %}
    <select name="genre" class="select select-bordered w-full max-w-xs" required>
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            <option value={{ combo_box.loc[i, "genre_id"] }}>
                {{ combo_box.loc[i, "genre_name"] }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_works(combo_box, len) %}
    <div class="form-control">
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            <label class="label cursor-pointer">
                <input type="checkbox" name="work" value="{{ combo_box.loc[i, "work_id"] }}" class="checkbox"/>
                <span class="label-text">{{ combo_box.loc[i, "work_name"] }}</span>
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_edit_issue(relation, id, len) %}
    <table class="table w-full">
        <thead>
        <tr>
            {% set n = len(relation) %}
            {% for name in relation.dtypes.index %}
                {% if name != id %}
                    <th>{{ name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                    {% if name != id %}
                        <td>
                            {{ relation.loc[i, name] }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_cards(card, id, len) %}
    {% set n = len(card) %}
    {% for i in range(n) %}
        <form action="{{ url_for('index') }}" method="post">
            <div class="card w-70 bg-base-100 m-5 shadow-xl">
                <div class="card-body">
                    {% for name in card.dtypes.index %}
                        {% if name != id %}
                            <p>{{ name }}: <b>{{ card.loc[i, name] }}</b></p>
                        {% endif %}
                    {% endfor %}
                    <div class="card-actions justify-end">
                        <button class="btn btn-outline btn-xs mr-2">
                            {% if card.loc[i, 'Начал'] == None %}Взять
                            {% elif card.loc[i, 'Закончил'] == None and card.loc[i, 'Начал'] != None %} Закончить
                            {% elif card.loc[i, 'Закончил'] != None and card.loc[i, 'Начал'] != None and card.loc[i, 'Проверено'] == 0 %}
                            {% endif %}</button>
                    </div>
                </div>
            </div>
        </form>
    {% endfor %}
{% endmacro %}