{% macro render_issues(combo_box, issue_id, len) %}
    <select name="issue" class="select select-bordered w-full max-w-xs" required>
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            {% set id_r = combo_box.loc[i, "issue_id"] %}
            {% if id_r == issue_id %}
                <option selected value={{ id_r }}>
                    {% else %}
                <option value={{ id_r }}>
            {% endif %}
        {{ combo_box.loc[i, "issue_name"] }} ({{ combo_box.loc[i, "deadline"] }})
        </option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_secret(combo_box, issue_id, len) %}
    {% set n = len(combo_box) %}
    {% for i in range(n) %}
        {% set id_r = combo_box.loc[i, "issue_id"] %}
        {% if id_r == issue_id %}
            <input hidden type="text" name="editable" value="{{ combo_box.loc[i, "issue_name"] }}">
            <input hidden type="text" name="editable_id" value="{{ combo_box.loc[i, "issue_id"] }}">
        {% endif %}
        </option>
    {% endfor %}
{% endmacro %}

{% macro render_genres(combo_box, len) %}
    <select name="genre" class="select select-bordered w-full max-w-xs" required>
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            <option value={{ combo_box.loc[i, "genre_id"] }}>
                {{ combo_box.loc[i, "genre_name"] }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro render_works(combo_box, len) %}
    <div class="form-control">
        {% set n = len(combo_box) %}
        {% for i in range(n) %}
            <label class="label cursor-pointer">
                <input type="checkbox" name="work" value="{{ combo_box.loc[i, "work_id"] }}" class="checkbox"/>
                <span class="label-text">{{ combo_box.loc[i, "work_name"] }}</span>
            </label>
        {% endfor %}
    </div>
{% endmacro %}

{% macro render_edit_issue(relation, id, len) %}
    <table class="table w-full">
        <thead>
        <tr>
            {% set n = len(relation) %}
            {% for name in relation.dtypes.index %}
                {% if name not in id %}
                    <th>{{ name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in range(n) %}
            <tr>
                {% for name in relation.dtypes.index %}
                    {% if name == 'Проверено' %}
                        {% if relation.loc[i, 'Проверено'] == 0 %}
                            <td>
                                Нет
                            </td>
                        {% elif relation.loc[i, 'Проверено'] == 1 %}
                            <td>
                                Да
                            </td>
                        {% endif %}
                    {% elif name not in id %}
                        <td>
                            {{ relation.loc[i, name] }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro render_worker(workers, c, len) %}
    <form action="{{ url_for('edit_work') }}" method="post">
        <select name="worker" class="select select-bordered select-sm w-full max-w-xs mb-2" required
                {% if c == 1 %} disabled
                {% endif %}
        >
            <option disabled selected>Работник</option>
            {% set n = len(workers) %}
            {% for i in range(n) %}
                <option value={{ workers.loc[i, "worker_id"] }}>
                    {{ workers.loc[i, "worker_name"] }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline btn-xs mb-2 mr-2"
                {% if c == 1 %} disabled
                {% endif %}
        >Назначить
        </button>
    </form>
{% endmacro %}

{% macro render_res(res, c, len) %}
    <form action="{{ url_for('edit_work') }}" method="post">
        <select name="res" class="select select-bordered select-sm w-full max-w-xs" required
                {% if c == 0 %} disabled
                {% endif %}
        >
            <option disabled selected>Ответственный</option>
            {% set n = len(res) %}
            {% for i in range(n) %}
                <option value={{ res.loc[i, "worker_id"] }}>
                    {{ res.loc[i, "worker_name"] }}
                </option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-outline btn-xs mb-2 mr-2"
                {% if c == 0 %} disabled
                {% endif %}
        >Назначить
        </button>
    </form>
{% endmacro %}

{% macro render_cards(card, id, len) %}
    {% set n = len(card) %}
    {% for i in range(n) %}
        <div class="card w-70 bg-base-100 m-5 shadow-xl">
            <div class="card-body">
                {% for name in card.dtypes.index %}
                    {% if name not in id %}
                        {% if card.loc[i, name] != None and card.loc[i, name] != 0 %}
                            <label>{{ name }}: <b>{{ card.loc[i, name] }}</b></label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if card.loc[i, 'Работник'] == None and card.loc[i, 'Ответственный'] == None %}
                    <div class="card-actions justify-end">
                        <form action="{{ url_for('index') }}" method="post">
                            <input hidden type="text" name="iaw_id" value="{{ card.loc[i, 'issue_article_work_id'] }}">
                            <input hidden type="text" name="w_id" value="{{ card.loc[i, 'work_id'] }}">
                            <button type="submit" class="btn btn-outline btn-xs">Назначить</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_cards_responsible(card, id, len) %}
    {% set n = len(card) %}
    {% for i in range(n) %}
        <div class="card w-70 bg-base-100 m-5 shadow-xl">
            <div class="card-body">
                {% for name in card.dtypes.index %}
                    {% if name not in id %}
                        {% if card.loc[i, name] != None and card.loc[i, name] != 0 %}
                            <label>{{ name }}: <b>{{ card.loc[i, name] }}</b></label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if card.loc[i, 'Закончил'] != None %}
                    <div class="card-actions justify-end">
                        <div class="dropdown dropdown-bottom">
                            <label tabindex="0" class="btn btn-outline btn-xs mr-20">Есть замечания</label>
                            <div tabindex="0"
                                 class="dropdown-content menu p-2 shadow bg-base-100 rounded-box mt-10 w-fit">
                                <form action="{{ url_for('index_responsible') }}" method="post">
                                    <input hidden type="text" name="id"
                                           value="{{ card.loc[i, 'issue_article_work_id'] }}">
                                    <input type="text" placeholder="Введите комментарий"
                                           class="input input-bordered w-fit max-w-xs mb-2"
                                           name="mistakes" required/>
                                    <button type="submit" class="btn btn-outline btn-xs">Отдать на доработку</button>
                                </form>
                            </div>
                        </div>
                        <form action="{{ url_for('index_responsible') }}" method="post">
                            <input hidden type="text" name="ok" value="{{ card.loc[i, 'issue_article_work_id'] }}">
                            <button type="submit" class="btn btn-outline btn-xs">Нет замечаний</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% macro render_cards_worker(card, id, len) %}
    {% set n = len(card) %}
    {% for i in range(n) %}
        <div class="card w-70 bg-base-100 m-5 shadow-xl">
            <div class="card-body">
                {% for name in card.dtypes.index %}
                    {% if name not in id %}
                        {% if card.loc[i, name] != None and card.loc[i, name] != 0 %}
                            <label>{{ name }}: <b>{{ card.loc[i, name] }}</b></label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if card.loc[i, 'Начал'] == None and card.loc[i, 'Ответственный'] != None %}
                    <div class="card-actions justify-end">
                        <form action="{{ url_for('index_worker') }}" method="post">
                            <input hidden type="text" name="start" value="{{ card.loc[i, 'issue_article_work_id'] }}">
                            <button type="submit" class="btn btn-outline btn-xs">Начать работу</button>
                        </form>
                    </div>
                {% elif card.loc[i, 'Закончил'] == None and card.loc[i, 'Начал'] != None %}
                    <div class="card-actions justify-end">
                        <form action="{{ url_for('index_worker') }}" method="post">
                            <input hidden type="text" name="finish" value="{{ card.loc[i, 'issue_article_work_id'] }}">
                            <button type="submit" class="btn btn-outline btn-xs">Закончить работу</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endmacro %}
